{% extends "layouts/signed-in.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Confirm travel time for Alex Boyle</h1>

      <div class="govuk-inset-text">
        Travel time for this appointment automatically be updated to '<span style="font-weight: 700;">30 minutes</span>'
      </div>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Alex Boyle
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CRN
            </dt>
            <dd class="govuk-summary-list__value">
              42924323
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Travel time adjustment
            </dt>
            <dd class="govuk-summary-list__value">
              30 minutes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outcome to be saved in nDelius
            </dt>
            <dd class="govuk-summary-list__value">
              Attended - complied
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start time
            </dt>
            <dd class="govuk-summary-list__value">
              9:17
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Finish time
            </dt>
            <dd class="govuk-summary-list__value">
              16:05
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Appointment type
            </dt>
            <dd class="govuk-summary-list__value">
              Group supervision
            </dd>
          </div>
        </dl>

        <form action="/travel-time/confirm/v1" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit
          </button>
        </form>

    </div>
  </div>

{% endblock %}
