{% extends "layouts/signed-in.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Appointment recorded as not eligible
        </h1>
      </div>

      <p>Alex Boyle's appointment on 26 Septmber 2026 has been recorded as not eligible for travel time</p>

      <p>
        <br>
        <a href="/record-progress/session-details/v4">
          Return to all appointments
        </a>
      </p>


    </div>
  </div>

{% endblock %}
