{% extends "layouts/signed-in.html" %}

{% block pageTitle %}
  Community payback prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Community Payback</p>
      </div>
    </div>

    <div class="govuk-grid-row" id="top">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-color: #cecece; outline: none; border-width: 1px; border-bottom-width: 4px;">
          <div class="govuk-notification-banner__content">
            <p class="govuk-body govuk-!-font-weight-bold"><a href="#">Record group session attendance</a><br>
            </p>
            <p class="govuk-body">Find a group and record attendance outcomes<br>
            </p>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-color: #cecece; outline: none; border-width: 1px; border-bottom-width: 4px;">
          <div class="govuk-notification-banner__content">
            <p class="govuk-body govuk-!-font-weight-bold"><a href="#">Record individual placement attendance</a><br>
            </p>
            <p class="govuk-body">Find a place with a host partner and record attendance outcomes<br>
            </p>
            <br>
            <br>
          </div>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-color: #cecece; outline: none; border-width: 1px; border-bottom-width: 4px;">
          <div class="govuk-notification-banner__content">
            <p class="govuk-body govuk-!-font-weight-bold"><a href="#">Record Community Campus </a><br>
            </p>
            <p class="govuk-body">View course completions from Community Campus and record completed hours<br>
            </p>
            <br>
            <br>
            <br>
          </div>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-color: #cecece; outline: none; border-width: 1px; border-bottom-width: 4px;">
          <div class="govuk-notification-banner__content">
            <p class="govuk-body govuk-!-font-weight-bold"><a href="/travel-time/home-page/v2">Adjust appointments for travel time</a><br>
            </p>
            <p class="govuk-body">View attended appointments and adjust for travel time<br>
            </p>
            <br>
            <br>
            <br>
          </div>
        </div>

      </div>
    </div>

{% endblock %}
