{% extends "layouts/signed-in.html" %}

{% block pageTitle %}
  Community payback prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Active session</h1>

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              <span style="font-weight: 400;">9:00 on 26 June 2026</span>
              <span style="float: right; font-weight: 700;">Active              
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Arnsford Methodist Church
            </h3>
            <p class="govuk-body">12 Danton Road, Arnsford, AR7 5BN</p>

            <form action="/record-progress/session-details/v1" method="post" novalidate>
              <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button" style="background: #505a5f;" id="end-session">
                  End session
                </button>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="cancel-session-early">
                  Cancel session early
                </button>
              </div>
            </form>

          </div>
        </div>

        <h1 class="govuk-heading-m">6 people scheduled on this session</h1>

        <!-- Person one -->
        <div class="govuk-summary-card" id="borderColorOne">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Darrell Hobbs<br>
              <span style="font-weight: 400;">423843208</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--blue" id="tagColorOne">
                  <span id="textColorOne">Scheduled</span>
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      31 July 1985
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      135 of 150 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      RSO
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Alcohol issues, peanut allergy, don't stand down as Darrel is nearly complete
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              <button onclick="personOne()" class="govuk-button" data-module="govuk-button" id="buttonPrimaryOne">
                Working
              </button>

              <script>
                function personOne() {
                  document.getElementById("textColorOne").style.color = "#00703c";
                  document.getElementById("tagColorOne").style.backgroundColor = "#cce2d8";
                  document.getElementById("textColorOne").innerHTML = "Active";
                  document.getElementById("buttonPrimaryOne").style.display = "none";
                  document.getElementById("buttonAbsentOne").style.display = "none";
                  document.getElementById("buttonUndoOne").style.display = "inline";
                  document.getElementById("buttonSecondaryOne").innerHTML = "Send home"
                }
              </script>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonAbsentOne">
                Absent
              </button>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondaryOne">
                Stand down
              </button>

              <a class="govuk-link" href="#" id="buttonUndoOne">Undo</a>
            </div>

          </div>
        </div>

        <!-- Person two -->
        <div class="govuk-summary-card" id="borderColorTwo">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Roman Roy<br>
              <span style="font-weight: 400;">098765546</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--blue" id="tagColorTwo">
                  <span id="textColorTwo">Scheduled</span>
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      6 May 1990
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      15 of 180 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      None
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Anxiety issues, sensory issues - can't wear hi-vis
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              <button onclick="personTwo()" class="govuk-button" data-module="govuk-button" id="buttonPrimaryTwo">
                Working
              </button>

              <script>
                function personTwo() {
                  document.getElementById("textColorTwo").style.color = "#00703c";
                  document.getElementById("tagColorTwo").style.backgroundColor = "#cce2d8";
                  document.getElementById("textColorTwo").innerHTML = "Active";
                  document.getElementById("buttonPrimaryTwo").style.display = "none";
                  document.getElementById("buttonAbsentTwo").style.display = "none";
                  document.getElementById("buttonUndoTwo").style.display = "inline";
                  document.getElementById("buttonSecondaryTwo").innerHTML = "Send home"
                }
              </script>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonAbsentTwo">
                Absent
              </button>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondaryOne">
                Stand down
              </button>

              <a class="govuk-link" href="#" id="buttonUndoTwo">Undo</a>

            </div>

          </div>
        </div>

        <!-- Person three -->
        <div class="govuk-summary-card" id="borderColorTwo">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Jackson Lamb<br>
              <span style="font-weight: 400;">0837648723</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--blue" id="tagColorThree">
                  <span id="textColorThree">Scheduled</span>
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      19 November 1963
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      20 of 240 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      None
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Alcohol issues, anger issues
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button" id="buttonPrimaryThree">
                Working
              </button>

              <script>
                function personThree() {
                  document.getElementById("textColorThree").style.color = "#594d00";
                  document.getElementById("tagColorThree").style.backgroundColor = "#fff7bf";
                  document.getElementById("textColorThree").innerHTML = "Absent";
                  document.getElementById("buttonPrimaryThree").style.display = "none";
                  document.getElementById("buttonAbsentThree").style.display = "none";
                  document.getElementById("buttonUndoThree").style.display = "inline";
                  document.getElementById("buttonSecondaryThree").innerHTML = "Send home"
                }
              </script>

              <button onclick="personThree()" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonAbsentThree">
                Absent
              </button>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondaryThree">
                Stand down
              </button>

              <a class="govuk-link" href="#" id="buttonUndoThree">Undo</a>

            </div>

          </div>
        </div>

        <!-- Person four -->
        <div class="govuk-summary-card" id="borderColorTwo">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Roddy Ho<br>
              <span style="font-weight: 400;">874578475</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--blue" id="tagColorFour">
                  <span id="textColorFour">Scheduled</span>
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      8 September 1988
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      170 of 180 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      RSO
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Do not stand down
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              <button onclick="personFour()" class="govuk-button" data-module="govuk-button" id="buttonPrimaryFour">
                Working
              </button>

              <script>
                function personFour() {
                  document.getElementById("textColorFour").style.color = "#00703c";
                  document.getElementById("tagColorFour").style.backgroundColor = "#cce2d8";
                  document.getElementById("textColorFour").innerHTML = "Active";
                  document.getElementById("buttonPrimaryFour").style.display = "none";
                  document.getElementById("buttonAbsentFour").style.display = "none";
                  document.getElementById("buttonUndoFour").style.display = "inline";
                  document.getElementById("buttonSecondaryFour").innerHTML = "Send home"
                }
              </script>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonAbsentFour">
                Absent
              </button>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondaryFour">
                Stand down
              </button>

              <a class="govuk-link" href="#" id="buttonUndoFour">Undo</a>

            </div>

          </div>
        </div>

        <!-- Person five -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Dennis Reynolds<br>
              <span style="font-weight: 400;">09636363</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--blue" id="tagColorFour">
                  <span id="textColorFive">Scheduled</span>
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      9 January 1976
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      170 of 180 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      None
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Substance issues, anger issues
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <form action="/record-progress/stand-down/reason/v1" method="post" novalidate>

              <div class="govuk-button-group">

                <button onclick="personFive()" class="govuk-button" data-module="govuk-button" id="buttonPrimaryFive">
                  Working
                </button>

                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonAbsentSix">
                  Absent
                </button>

                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondaryFive">
                  Stand down
                </button>

              </div>

            </form>

          </div>
        </div>

        <!-- Person six -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Gareth Keenan<br>
              <span style="font-weight: 400;">874578475</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--blue" id="tagColorSix">
                  <span id="textColorSix">Scheduled</span>
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      8 September 1988
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      170 of 180 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      RSO
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Do not stand down
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              <button onclick="personSix()" class="govuk-button" data-module="govuk-button" id="buttonPrimarySix">
                Working
              </button>

              <script>
                function personSix() {
                  document.getElementById("textColorSix").style.color = "#00703c";
                  document.getElementById("tagColorSix").style.backgroundColor = "#cce2d8";
                  document.getElementById("textColorSix").innerHTML = "Active";
                  document.getElementById("buttonPrimarySix").style.display = "none";
                  document.getElementById("buttonAbsentSix").style.display = "none";
                  document.getElementById("buttonUndoSix").style.display = "inline";
                  document.getElementById("buttonSecondarySix").innerHTML = "Send home"
                }
              </script>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonAbsentSix">
                Absent
              </button>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondarySix">
                Stand down
              </button>

              <a class="govuk-link" href="#" id="buttonUndoSix">Undo</a>

            </div>

          </div>
        </div>

      </div>
    </div>

{% endblock %}
