{% extends "layouts/signed-in.html" %}

{% block pageTitle %}
  Community payback prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Active session</h1>

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              <span style="font-weight: 400;">9:00 on 26 June 2026</span>
              <span style="float: right; font-weight: 700;">Active              
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Arnsford Methodist Church
            </h3>
            <p class="govuk-body">12 Danton Road, Arnsford, AR7 5BN</p>

            <form action="/record-progress/session-details/v1" method="post" novalidate>
              <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button" style="background: #505a5f;" id="end-session">
                  End session
                </button>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="cancel-session-early">
                  Cancel session early
                </button>
              </div>
            </form>

          </div>
        </div>

        <h1 class="govuk-heading-m">6 people scheduled on this session</h1>

        <!-- Person one -->
        <div class="govuk-summary-card" id="borderColorOne">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Darrell Hobbs<br>
              <span style="font-weight: 400;">423843208</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--green" id="tagColorOne">
                  <span>Active</span>
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      31 July 1985
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      135 of 150 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      RSO
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Alcohol issues, peanut allergy, don't stand down as Darrel is nearly complete
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              </script>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondaryOne">
                Stand down
              </button>

              <a class="govuk-link" href="#">Undo</a>
            </div>

          </div>
        </div>

        <!-- Person two -->
        <div class="govuk-summary-card" id="borderColorTwo">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Roman Roy<br>
              <span style="font-weight: 400;">098765546</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--green">
                  Activie
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      6 May 1990
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      15 of 180 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      None
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Anxiety issues, sensory issues - can't wear hi-vis
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              </script>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondaryOne">
                Stand down
              </button>

              <a class="govuk-link" href="#">Undo</a>
            </div>

          </div>
        </div>

        <!-- Person three -->
        <div class="govuk-summary-card" id="borderColorTwo">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Jackson Lamb<br>
              <span style="font-weight: 400;">0837648723</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--yellow" id="tagColorTwo">
                  <span id="textColorTwo">Absent</span>
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      19 November 1963
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      20 of 240 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      None
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Alcohol issues, anger issues
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              <a class="govuk-link" href="#">Undo</a>
            </div>

          </div>
        </div>

        <!-- Person four -->
        <div class="govuk-summary-card" id="borderColorTwo">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Roddy Ho<br>
              <span style="font-weight: 400;">874578475</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--green">
                  Active
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      8 September 1988
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      170 of 180 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      RSO
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Do not stand down
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              </script>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondaryOne">
                Stand down
              </button>

              <a class="govuk-link" href="#">Undo</a>
            </div>

          </div>
        </div>

        <!-- Person five -->
        <div class="govuk-summary-card" id="five">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Dennis Reynolds<br>
              <span style="font-weight: 400;">09636363</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--blue" id="tagColorFour">
                  <span id="textColorFive">Stood down</span>
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

              <p>
                <span style="font-weight: 700;">Wrong risk status for project</span><br>
                Given Dennis' RSO offence he was not safe to work on the project today
              </p>

              <div class="govuk-button-group">


              <a class="govuk-link" href="#" id="buttonUndoFive">Edit details</a>

              </div>

          </div>
        </div>

        <!-- Person six -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Gareth Keenan<br>
              <span style="font-weight: 400;">874578475</span>
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--green">
                  Active
                </strong>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View details
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      8 September 1988
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Hours completed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      170 of 180 hours
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Risks
                    </dt>
                    <dd class="govuk-summary-list__value">
                      RSO
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Coordinator notes
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Do not stand down
                    </dd>
                  </div>
                </dl>
              </div>
            </details>

            <div class="govuk-button-group">
              </script>

              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="buttonSecondaryOne">
                Stand down
              </button>

              <a class="govuk-link" href="#">Undo</a>
            </div>

          </div>
        </div>

      </div>
    </div>

{% endblock %}
