{% extends "layouts/signed-in.html" %}

{% block pageTitle %}
  Community payback prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Session details</h1>

        <!-- summary card for session details: time/date and address -->
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-color: #505a5f; outline: none; margin-bottom: 20px;">
          <div class="govuk-notification-banner__header" style="background: #505a5f;">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" style="font-weight: 400;">
              26 June 2026         
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Group 2
            </h3>
            <p class="govuk-body">Arnsford Methodist Church<br>12 Danton Road<br>Arnsford<br> AR7 5BN</p>

          </div>
        </div>

        <h1 class="govuk-heading-m">6 people scheduled on this session</h1>

        <!-- PERSON ONE - mark as working and finished work-->
        <div class="govuk-summary-card" id="personOne">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              <span id="name">Alex Boyle</span><br>
              {% if data.personOneStatus=="CompletedScheduledHours" %}
                <strong id="status-tag" class="govuk-tag govuk-tag--blue">
                  Session complete
                </strong>
              {% elif data.personOneStatus=="working" %}
                <strong id="status-tag" class="govuk-tag govuk-tag--green">
                  Active
                </strong>
              {% else %}
                <strong id="status-tag" class="govuk-tag govuk-tag--grey">
                  Scheduled
                </strong>
              {% endif %}
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/record-progress/check-in-individuals/v3/person-1">View<span class="govuk-visually-hidden"> person details</span></a>
              </li>
            </ul>
          </div>

          <!-- TIME log for when someone complete's a session -->
          {% if data.personOneStatus=="CompletedScheduledHours" %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Actual start time: </span> {{ data['startTimePersonOne'] }}<br>
                <span style="font-weight: 400;">Actual finish time:</span> {{ data['finishTimePersonOne'] }}
              </h2>
            </div>
          {% elif data.personOneStatus=="working" %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Actual start time:</span> {{ data['startTimePersonOne'] }}<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
            </div>
          {% else %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Scheduled start time: </span> 9:00<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
            </div>
          {% endif %}
        </div>

        <!-- Person two - mark as working -->
        <div class="govuk-summary-card" id="personTwo">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Prasad Ahmed<br>
              {% if data.personTwoStatus=="working" %}
                <strong id="status-tag" class="govuk-tag govuk-tag--green">
                  Active
                </strong>
              {% else %}
                <strong id="status-tag" class="govuk-tag govuk-tag--grey">
                  Scheduled
                </strong>
              {% endif %}
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/record-progress/check-in-individuals/v3/person-2">View<span class="govuk-visually-hidden"> person details</span></a>
              </li>
            </ul>
          </div>
          {% if data.personTwoStatus=="working" %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Actual start time:</span> {{ data['startTimePersonTwo'] }}<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
              <ul class="govuk-summary-card__actions" id="status-tag">
                <li class="govuk-summary-card__action">
                  <!--
                  <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> start time</span></a>
                  -->
                </li>
              </ul>
            </div>
          {% else %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Scheduled start time:</span> 9:00<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
            </div>
          {% endif %}
        </div>

        <!-- Person three -->
        <div class="govuk-summary-card" id="personThree">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Connor Powell<br>
              {% if data.personThreeStatus=="absent" %}
                <strong id="status-tag" class="govuk-tag govuk-tag--yellow">
                  Absent
                </strong>
              {% else %}
                <strong id="status-tag" class="govuk-tag govuk-tag--grey">
                  Scheduled
                </strong>
              {% endif %}
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/record-progress/check-in-individuals/v3/person-3">View<span class="govuk-visually-hidden"> person details</span></a>
              </li>
            </ul>
          </div>
          {% if data.personThreeStatus=="absent" %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Absent from: </span> {{ data['startTimePersonThree'] }}
              </h2>
            </div>
          {% else %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Scheduled start time:</span> 9:00<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
            </div>
          {% endif %}
        </div>

        <!-- Person four -->
        <div class="govuk-summary-card" id="personFour">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                Scott Green<br>
                {% if data.personFourStatus=="leftEarly" %}
                  <strong id="status-tag" class="govuk-tag govuk-tag--orange">
                    Left site early
                  </strong>
                {% elif data.personFourStatus=="working" %}
                  <strong id="status-tag" class="govuk-tag govuk-tag--green">
                    Active
                  </strong>
                {% else %}
                  <strong id="status-tag" class="govuk-tag govuk-tag--grey">
                    Scheduled
                  </strong>
                {% endif %}
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/record-progress/check-in-individuals/v3/person-4">View<span class="govuk-visually-hidden"> person details</span></a>
              </li>
            </ul>
          </div>
          {% if data.personFourStatus=="leftEarly" %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Actual start time:</span> {{ data['startTimePersonFour'] }}<br>
                <span style="font-weight: 400;">Left site early at:</span> {{ data['sendHomeEarlyTimePersonFour'] }}
              </h2>
            </div>
          {% elif data.personFourStatus=="working" %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Actual start time:</span> {{ data['startTimePersonFour'] }}<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
            </div>
          {% else %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Scheduled start time:</span> 9:00<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
            </div>
          {% endif %}
        </div>

        <!-- Person five - Stood down -->
        <div class="govuk-summary-card" id="personFive">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Zachary Herbert<br>
              {% if data.personFiveStatus=="stoodDown" %}
                <strong id="status-tag" class="govuk-tag govuk-tag--pink">
                  Unable to work
                </strong>
              {% else %}
                <strong id="status-tag" class="govuk-tag govuk-tag--grey">
                  Scheduled
                </strong>
              {% endif %}
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/record-progress/check-in-individuals/v3/person-5">View<span class="govuk-visually-hidden"> person details</span></a>
              </li>
            </ul>
          </div>
          {% if data.personFiveStatus=="stoodDown" %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Did not work start at: </span> {{ data['startTimePersonFive'] }}
              </h2>
            </div>
          {% else %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Scheduled start time:</span> 9:00<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
            </div>
          {% endif %}
        </div>

        <!-- Person six -->
        <div class="govuk-summary-card" id="personSix">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Daniel Storey<br> 
                {% if data.personSixStatus=="working" %}
                  <strong id="status-tag" class="govuk-tag govuk-tag--green">
                    Active
                  </strong>
                {% else %}
                  <strong id="status-tag" class="govuk-tag govuk-tag--grey">
                    Scheduled
                  </strong>
                {% endif %}
            </h2>
            <ul class="govuk-summary-card__actions" id="status-tag">
              <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="/record-progress/check-in-individuals/v3/person-6">View<span class="govuk-visually-hidden"> person details</span></a>
              </li>
            </ul>
          </div>
          {% if data.personSixStatus=="working" %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Actual start time:</span> {{ data['startTimePersonSix'] }}<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
            </div>
          {% else %}
            <div class="govuk-summary-card__title-wrapper" style="border-top: 1px solid #b1b4b6; background: #fff;">
              <h2 class="govuk-summary-card__title">
                <span style="font-weight: 400;">Actual start time:</span> 9:00<br>
                <span style="font-weight: 400;">Scheduled finish time:</span> 16:00
              </h2>
            </div>
          {% endif %}
        </div>

        <h2 class="govuk-heading-m">Now send the session attendance record</h2>
        <p class="govuk-body">By submitting this attendance information you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <form action="/record-progress/end-session/v1/confirm" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Confirm and send
          </button>
        </form>

      </div>
    </div>

{% endblock %}
