{% extends "layouts/signed-in.html" %}

{% block pageTitle %}
  Community payback prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <form action="/record-progress/send-home-early/v1/reason" method="post" novalidate>

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                You're logging out Scott Green early today at:
              </h1>
            </legend>
            <select class="govuk-select govuk-input--width-5" id="sort" name="sendHomeEarlyTimePersonFour">
              <option value="14:00" selected>14:00</option>
              <option value="14:15">14:15</option>
              <option value="14:30">14:30</option>
              <option value="14:45">14:45</option>
              <option value="15:00">15:00</option>
            </select>
          </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Confirm and continue
          </button>
        </form>
    

      </div>
    </div>

{% endblock %}
