{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Prototypes: track progresss on community payback
    </h1>

    <h2 class="govuk-heading-m">Version four (current)</h2>

    <ol class="govuk-list govuk-list--number">
      <li>
        <a href="/record-progress/new-session-email/v4">Start: new session notification</a> 
        <strong class="govuk-tag govuk-tag--grey govuk-!-font-size-16">
          v1
        </strong>
      </li>
      <li>
        <a href="/record-progress/supervisor-home/v4">Supervisor homepage</a> 
        <strong class="govuk-tag govuk-tag--blue govuk-!-font-size-16">
          v4
        </strong>
      </li>
      <li>
        <a href="/record-progress/session-details/v4">Session details</a> 
        <strong class="govuk-tag govuk-tag--blue govuk-!-font-size-16">
          v4
        </strong>
      </li>
    </ol>

    <h2 class="govuk-heading-m">Version three</h2>

    <ol class="govuk-list govuk-list--number">
      <li>
        <a href="/record-progress/new-session-email/v3">Start: new session notification</a> 
        <strong class="govuk-tag govuk-tag--grey govuk-!-font-size-16">
          v1
        </strong>
      </li>
      <li>
        <a href="/record-progress/supervisor-home/v3">Supervisor homepage</a> 
        <strong class="govuk-tag govuk-tag--turquoise govuk-!-font-size-16">
          v3
        </strong>
      </li>
      <li>
        <a href="/record-progress/session-details/v3">Session details</a> 
        <strong class="govuk-tag govuk-tag--turquoise govuk-!-font-size-16">
          v3
        </strong>
      </li>
    </ol>

    <h2 class="govuk-heading-m">Version two</h2>

    <ol class="govuk-list govuk-list--number">
      <li>
        <a href="/record-progress/new-session-email/v2">Notification email</a> 
        <strong class="govuk-tag govuk-tag--grey govuk-!-font-size-16">
          v1
        </strong>
      </li>
      <li>
        <a href="/record-progress/supervisor-home/v2">Supervisor homepage</a> 
        <strong class="govuk-tag govuk-tag--green govuk-!-font-size-16">
          v2
        </strong>
      </li>
    </ol>


    <h2 class="govuk-heading-m">Version one</h2>

    <ol class="govuk-list govuk-list--number">
      <li>
        <a href="/record-progress/new-session-email/v1">Notification email</a> 
        <strong class="govuk-tag govuk-tag--grey govuk-!-font-size-16">
          v1
        </strong>
      </li>
      <li>
        <a href="/record-progress/session-details/v2">Supervisor homepage</a> 
        <strong class="govuk-tag govuk-tag--grey govuk-!-font-size-16">
          v1
        </strong>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
