{% extends "layouts/signed-in.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Did they work intensively?
      </h1>

      <form class="form" action="/record-progress/check-in-individuals/v3/person-1/finish-work/quality" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="canWork-hint">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="canWork" name="canWork" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="canWork">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="canWork-2" name="canWork" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="canWork-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
