{% extends "layouts/signed-in.html" %}

{% block pageTitle %}
  Community payback prototypes
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-l">Session details</h1>

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-color: #505a5f; outline: none;">
          <div class="govuk-notification-banner__header" style="background: #505a5f;">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              <span style="font-weight: 400;">9:00 on 26 June 2026</span>
              <span style="float: right; font-weight: 700;">Not started              
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Arnsford Methodist Church
            </h3>
            <p class="govuk-body">12 Danton Road, Arnsford, AR7 5BN</p>

            <form action="/record-progress/check-in-group/v1" method="post" novalidate>
              <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button" id="end-session">
                  Start session
                </button>
              </div>
            </form>

          </div>
        </div>

        <h1 class="govuk-heading-m">6 people scheduled on this session</h1>

        <!-- Person one -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Darrell Hobbs
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  31 July 1985
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CRN
                </dt>
                <dd class="govuk-summary-list__value">
                  0423843208
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Hours completed
                </dt>
                <dd class="govuk-summary-list__value">
                  135 of 150 hours
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risks
                </dt>
                <dd class="govuk-summary-list__value">
                  RSO
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Coordinator notes
                </dt>
                <dd class="govuk-summary-list__value">
                  Alcohol issues, peanut allergy, don't stand down as Darrel is nearly complete
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- Person two -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Roman Roy
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  6 May 1990
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CRN
                </dt>
                <dd class="govuk-summary-list__value">
                  098765546
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Hours completed
                </dt>
                <dd class="govuk-summary-list__value">
                  15 of 180 hours
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risks
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Coordinator notes
                </dt>
                <dd class="govuk-summary-list__value">
                  Anxiety issues, sensory issues - can't wear hi-vis
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- Person three -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Jackson Lamb
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  19 November 1963
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CRN
                </dt>
                <dd class="govuk-summary-list__value">
                  0937648723
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Hours completed
                </dt>
                <dd class="govuk-summary-list__value">
                  20 of 240 hours
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risks
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Coordinator notes
                </dt>
                <dd class="govuk-summary-list__value">
                  Alcohol issues, anger issues
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- Person four -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Roddy Ho
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  8 September 1988
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CRN
                </dt>
                <dd class="govuk-summary-list__value">
                  8745784750
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Hours completed
                </dt>
                <dd class="govuk-summary-list__value">
                  170 of 180 hours
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risks
                </dt>
                <dd class="govuk-summary-list__value">
                  RSO
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Coordinator notes
                </dt>
                <dd class="govuk-summary-list__value">
                  Do not stand down
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- Person five -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Dennis Reynolds
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  31 July 1985
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CRN
                </dt>
                <dd class="govuk-summary-list__value">
                  09636363
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Hours completed
                </dt>
                <dd class="govuk-summary-list__value">
                  20 of 240 hours
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risks
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Coordinator notes
                </dt>
                <dd class="govuk-summary-list__value">
                  Substance issues, anger issues
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <!-- Person six -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Gareth Keenan
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  18 June 1998
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CRN
                </dt>
                <dd class="govuk-summary-list__value">
                  097374687
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Hours completed
                </dt>
                <dd class="govuk-summary-list__value">
                  230 of 240 hours
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Risks
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Coordinator notes
                </dt>
                <dd class="govuk-summary-list__value">
                  ADHD, do not allow power tools
                </dd>
              </div>
            </dl>
          </div>
        </div>

      </div>
    </div>

{% endblock %}
